<div class="hero-section__container">

	<div id="logo" class="hero-section__logo">
		{{{view 'icons/ic_logo-v01'}}}
		<p>Centro de Investigação em Saúde Publica</p>
		<p>Public Health Research Center</p>

		<div class="hero-section__logo--ensp" id="logoHome">
        </div>
	</div>





{{#ifCond data.catg '===' 'home'}}
	<h2 class="hero-section__claim">From research<br>to action <span class="hero-section__claim__underline"></span> </h2>

	<div class="hero-section__block">
		<!--<div class="hero-section__block__title">Centro de Investigação Saúde Pública</div>-->
		<div class="hero-section__block__text">Primeiro centro de investigação exclusivamente dedicado à Saúde Pública.</div>
	</div>
{{else}}
	<div class="hero-section__page-identifier">
		<a href="#{{data.catg}}">{{data.catg}}</a>
	</div>

{{/ifCond}}
</div>
