<div id="logo" class="header__wrapper__logo">
{{{view 'icons/ic_logo-v01'}}}
<p>Centro de Investicação Saúde Publica</p>
</div>

<div id="menu-button" class="header__wrapper__menu">MENU</div>
<div id="menu-container" class="menu"></div>