<div class="menu__wrapper">
	<div class="menu__wrapper__close" id="menu-close">{{{view 'icons/ic_close'}}}</div>
	<ul>
		<li><a href="#about">About us.</a></li>
		<li><a href="#members">Members.</a></li>
		<li><a href="#projects">Projects.</a></li>
		<li><a href="#events">Events.</a></li>
		<li><a href="#publications">Publications.</a></li>
		<li><a href="#news">News.</a></li>
	</ul>
</div>