<div class="menu__container">
	<div id="menu-button" class="menu__button">MENU</div>

	<div id="menu-wrapper" class="menu__wrapper">
		<ul>
			<li><a href="#sobre">Sobre Nós</a></li>
			<li><a href="#membros">Membros</a></li>
			<li><a href="#projetos">Projetos</a></li>
			<li><a href="#eventos">Eventos</a></li>
			<li><a href="#publicacoes">Publicações</a></li>
			<li><a href="#noticias">Notícias</a></li>
		</ul>
	</div>
</div>
