.home__section__new {
	@include _(flex);
	@include flex(1);
	position: relative;
	margin: 0 24px 16px 0;
	padding-right: 8px;
	padding-bottom: 8px;
	min-width: 190px;
	border-bottom: 2px solid $light-gray;

	@include breakpoint(medium){
		width: 100% !important;
		flex: auto;
		margin-right: 0;
	}

	@include breakpoint(small) {
		@include _(flex-wrap);
	}

	&:after {
		content:'';
		position: absolute;
		bottom: 0;
		right: 0;
		height: 10%;
		width: 2px;
		background: $light-gray;
	}

	&--large {
		@include flex(2);
		min-width: 340px;
		border-bottom: 3px solid $blue;

		&:after {
			width: 3px;
			background: $blue;
		}
	}

	&__content {
		@include flex-grow(1);
		min-width: 50%;

		@include breakpoint(small) {
			order: 2;
			width: 100%;
		}

		&__when,
		&__where {
			margin-top: 8px;

			span {
				font-weight: 700;
			}
		}
	}

	&__image {
		@include flex-grow(1);
		min-width: 50%;
		background-position: center;
		background-size: cover;

		@include breakpoint(small) {
			order: 1;
			width: 100%;
			height: 40px;
		}
	}

	h4 {
		margin: 8px 0;
	}

	p {
		color: $dark-gray;

		a {
			display: none;
		}
	}

	a {
		@include _(flex);
		@include _(align-items-center);
		margin-top: 16px;
		padding-left: 8px;

		svg {
			margin-right: 16px;
		}
	}

	img {
		width: 250px;
		height: 180px;
	}
}

.load-more {
	margin: 32px auto;
	padding: 4px 0 4px 8px;
	text-align: center;
	border: 2px solid #444;
	letter-spacing: 8px;

	&:hover {
		cursor: pointer;
	}
}
