.home__section__publication {
	//@include flex(1);
	@include _(flex);
	position: relative;
	width: calc(33.333% - 24px);
	margin: 0 24px 16px 0;
	padding-right: 8px;
	padding-bottom: 28px;
	min-width: 190px;
	border-bottom: 2px solid $light-gray;
	

	@include breakpoint(medium){
		width: 100%;
		margin-right: 0;
	}
	
	&:hover {
		border-bottom: 2px solid $blue-mariner;
	}

	h4 {
		margin: 8px 0;
	}

	p {
		color: $dark-gray;

		a {
			display: none;
		}
	}

	a {
		@include _(flex);
		@include _(align-items-center);
		margin-top: 64px;
		padding-left: 8px;

		svg {
			margin-right: 16px;
		}
	}

	time {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 6px 8px;
		background-color: $blue-mariner;
		font-size: 13px;
		font-weight: 300;
		text-align: center;
		color: $white;
	}
}