.post-list {
	width: 100%;

	&__title {
		//width: 100%;
		font-size: 28px;
		font-weight: 500;
		padding-left: 24px;
		text-transform: uppercase;

		&--associated {
			margin-top: 48px;
		}
	}

	&__members {
		padding-top: 24px;

		&__effective {
			@include _(flex);
			@include _(space-between);
			@include _(flex-wrap);
			width: 100%;

			.effective-list {
				@include breakpoint(medium) {
					@include _(justify-content-center);
				}
			}
		}

		&__associated {
			@include _(flex);
			@include _(space-between);
			@include _(flex-wrap);
			width: 100%;

			.associated-list {
				@include breakpoint(medium) {
					@include _(justify-content-center);
				}
			}
		}
	}

	&__member {
		flex: 1 0 250px;
		margin: 16px;
		max-width: 268px;

		&--project,
		&--publication {
			width: 100%;
			margin: 16px;
		}

		&__thumbnail {
			margin: 0 auto;
			position: relative;
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid $blue-mariner;
			background-size: cover;
			background-position: 20% 50%;
			background-repeat: no-repeat;
		}

		&__content {
			@include _(flex);
			@include _(justify-content-center);
			padding: 8px 0;
			font-size: 16px;
			text-align: center;

			&__position {
				margin-bottom: 8px;
			}

			&__name {
				font-weight: 600;
				font-size: 20px;

				max-width: 190px;
				margin-left: 0;

				p {
					margin-bottom: 8px;
				}
			}

		}
	}
}

.posts-list {

	&--members {
		@include _(flex-column);
		@include breakpoint(small) {
			@include _(justify-content-center);
		}

		h2 {
			font-weight: 600;
			font-size: 20px;
			margin-left: 16px ;
		}
	}
}
