.header {
	@include _(backface_hack);
	@include _(padding);
	position: absolute;
	width: 100%;
	height: $header_height;
	top: 0;
	left: 0;
	z-index: 2;
	border: 1px solid $divider-color;
	background-color: #fff;

	@include breakpoint(medium) {
		height: 64px;
	}

	&__wrapper {
		@include _(flex);
		@include _(flex-wrap);
		@include _(align-items-center);
		@include _(limited-full-width);
		height: 100%;
	}

	&__title {
		@include _(display1);
		@include _(header-text);
		margin-right: auto;
		color: $primary-color;

		@include breakpoint(medium) {
			@include _(title);
		}
	}

	.nav {
		&__item {
			position: relative;
			@include _(header-text);
			@include _(subheading);
			padding: 0 4px;
			margin-right: 4px;
			letter-spacing: 1px;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $accent-color;

				&:after {
					content: " ";
					position: absolute;
					display: block;
					width: calc(100% - 8px);
					height: 2px;
					bottom: -4px;
					left: 4px;
					background-color: $accent-color;
				}
			}
		}

		@include breakpoint(medium) {
			display: none;
		}
	}

	&.subheader {
		position: fixed;
		height: $header_height;
		background-color: #111;
		z-index: 3;
		transform: translate3d(0%,-100%,0);

		transition: .3s transform $cubic-bezier;

		&.active {
			transform: translate3d(0%,0%,0);
		}

		.header__title,
		.nav a {
			color: $primary-text-color;
		}
		.nav a:hover:after {
			background-color: $primary-text-color;
		}
	}
}
