.header {
	@include _(backface_hack);
	@include _(padding);
	position: absolute;
	width: 100%;
	height: $header_height;
	top: 0;
	left: 0;
	z-index: 2;
	border: 1px solid $divider-color;
	background-color: $light-gray;

	@include breakpoint(medium) {
		height: 64px;
	}

	&__wrapper {
		@include _(flex);
		@include _(flex-wrap);
		@include _(align-items-center);
		@include _(space-between);
		@include _(limited-full-width);
		height: 60px;
		z-index: 1;
		margin-bottom: 48px;

		&__logo {
			
			svg {
				width: 150px;
				height: 35px;

				rect,
				path {
					fill: $white;
				}
			}

			p {
				font-size: 13px;
				color: white;
			}
		}

		&__menu {
			background-color: $blue;
			color: $white;
			text-decoration: underline;
			padding: 6px;
		}
	}
}
