.header {
	@include _(backface_hack);
	// @include _(padding);

	position: absolute;
	width: 100%;
	height: $header_height;
	top: 0;
	left: 0;
	//z-index: 2;
	border: 1px solid $divider-color;
	background-image: url(../images/hero/01.jpeg);
	background-position: center;
	background-size: cover;
	
	@include breakpoint(medium) {
		height: 64px;
	}

	&__container {
		@include _(flex);
		@include _(justify-content-center);
		height: 100%;
	}
}
