.hero-section {
	width: 100%;
	height: 100%;
	
	&.active {
		background-color: $hero-blue;
		opacity: 0.8;
	}

	&__container {
		color: $white;
		width: 100%;
		height: 100%;
		max-width: 600px;
		margin-left: auto;
		padding: 32px 0 0 16px;
	}

	&__logo {
		display: block;

		&:hover {
			cursor: pointer;
		}
		
		svg {
			width: 150px;
			height: 35px;

			rect,
			path {
				fill: $white;
			}
		}

		p {
			font-size: 13px;
			margin: 2px 0 4px 0;
			color: white;
		}
	}

	&__claim {
		@include _(title-about);
		@include _(flex);
		position: relative;
		margin-left: 32px;
		text-align: right;
		margin-top: 72px;

		&__underline {
			position: absolute;
			width: 90px;
			bottom: 4px;
			left: 0;
			background-color: $white;
			border-bottom: 1px solid $white;
		}
	}

	&__block {
		display: block;
		float: left;
		margin-top: 80px;
		max-width: 300px;

		&__title {
			color: $light-gray;
		}

		&__text {
			color: $white;
			font-weight: 400;
			line-height: 18px;
		}
	}

	&__page-identifier {
		display: block;
		float: left;
		margin-top: 340px;

	    a {
			font-size: 50px;
		    text-transform: uppercase;
		    text-decoration: underline;
	    }

	    &--small {
	    	margin-top: 290px;
	    	a {
				line-height: 50px;
				font-size: 40px
	    	}
	    }
	}
}
