.menu {
	width: 100%;
	height: 100%;
	
	&__button {
		display: none;
		width: 80px;
		height: 28px;
		padding: 6px;
		text-align: center;
		text-decoration: underline;
		background-color: $blue;
		color: $white;
		
		&:hover {
			cursor: pointer;
		}

		&.active {
			display: block;
		}
	}

	&.active {
		background-color: black;
		opacity: 0.8;	
	}

	&__container {
		@include _(flex);
		@include _(justify-content-end);
		color: $white;
		width: 100%;
		height: 100%;
		max-width: 600px;
		padding: 32px 16px 0 0;

		@include breakpoint(medium) {
			padding-top: 15px;
		}

		@include breakpoint(x-small) {
			padding: 15px 0 0 0;
		}
	}

	&__wrapper {
		display: none;

		&__close {
			@include _(flex);
			margin-bottom: 64px;
			svg {
				margin-left: auto;
				fill: $white;
				width: 40px;
				height: 40px;

				&:hover {
					cursor: pointer;
				}
			}

			@include breakpoint(medium) {
				height: 15px;
			}

			@include breakpoint(small) {
				margin-bottom: 32px;
			}
		}

		ul {
			margin-bottom: auto;
			font-size: 24px;
			font-weight: 600;
			
			li {
				text-align: right;
				margin: 8px 0;

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}

				@include breakpoint(small) {
					margin: 10px;
				}
			}

			@include breakpoint(small) {
				font-size: 21px;
			}

			@include breakpoint(x-small) {
				font-size: 16px;
			}
		}
	}
}