$black: rgba(51,51,51,1);
$indigo: #3F51B5;


// MAIN
$primary-color: $black;
$white: #fff;
$black: #000;
$gray: #333;
$dark-gray: #404040;
$light-gray: #BFBEBE;
$blue: #446CB3;
$blue-mariner: #45639F;
$light-blue: #4498C8;
$hero-blue: #00156A;

$icon-color: rgba(0,0,0,0.54);
$divider-color: rgba(0,0,0,0.1);
$accent-color: #3F51B5;

$background-color: #ececec;

// TEXT
$base-color: rgba(0,0,0,1);
$text-color: rgba(0,0,0,1);
$content-text-color: rgba(85,85,85,.9);
$secondary-text-color: rgba(0,0,0,0.54);
$hint-text-color: rgba(0,0,0,0.38);

$primary-text-color: #fff;