.footer {
	margin-top: 80px;
	padding: 16px 32px;

	@include breakpoint(small) {
		padding: 8px;
	}

	&__container {
		@include _(flex);
		@include _(space-between);
		@include _(align-items-center);
		@include _(flex-wrap);
		padding: 8px;
		text-align: center;

		@include breakpoint(medium) {
			justify-content: flex-start;
		}

		@include breakpoint(small) {
			justify-content: center;
		}
	}

	&__logo {
		flex: 1;
		margin: 0 24px 8px 24px;
		width: 260px;
		svg {
			width: 160px;
			height: 60px;
		}

		@include breakpoint(medium) {
			width: 130px;
			svg {
				width: 130px;
				height: auto;
			}
		}
	}

	&__copy-right {
		flex: 1 0 200px;
		font-size: 12px;
		margin-bottom: 8px;

		@include breakpoint(medium) {
			//max-width: 260px;
			margin-top: 8px;
			font-size: 10px;
			order: 3;
		}
	}

	&__partners {
		@include _(flex);
		@include _(space-between);
		@include _(align-items-center);
		flex: 1 0 200px;

		@include breakpoint(x-small) {
			@include _(flex-wrap);
		}

		&__ensp,
		&__fct {
			background-size: cover;
			background-repeat: no-repeat;
			height: 60px;
			margin: 0 24px 8px 24px ;

			@include breakpoint(medium) {
				width: 30px;
				height: 30px;
			}
		}

		&__ensp {
			background-image: url(../images/footer/logo_ensp_unl.png);
			width: 220px;
			height: 100px;
			@include breakpoint(medium) {
				width: 177px;
				height: 80px;
				margin: 0 auto;
			}
		}
		&__fct {
			background-image: url(../images/footer/logo_fct.png);
			width: 182px;
			@include breakpoint(medium) {
				width: 82px;
				margin: 0px auto;
			}
		}
	}
}
