.footer {
	margin-top: 80px;
	padding: 16px 32px;

	&__container {
		@include _(flex);
		@include _(space-between);
		@include _(align-items-center);
		@include _(flex-wrap);
		padding: 8px;
		text-align: center;

		@include breakpoint(medium) {
			justify-content: flex-start;
		}
	}
	
	&__logo {
		margin: 0 24px 8px 24px;
		width: 260px;
		svg {
			width: 260px;
			height: 60px;
		}

		@include breakpoint(medium) {
			width: 80px;
			svg {
				width: 80px;
				height: auto;
			}
		}
	}

	&__copy-right {
		font-size: 12px;
		margin-bottom: 8px;

		@include breakpoint(medium) {
			max-width: 260px;
		}
	}

	&__partners {
		@include _(flex);
		@include _(space-between);
		@include _(align-items-center);

		&__ensp,
		&__unl,
		&__fct {
			background-size: cover;
			background-repeat: no-repeat;
			width: 60px;
			height: 60px;
			margin: 0 24px 8px 24px ;

			@include breakpoint(medium) {
				width: 30px;
				height: 30px;
			}
		}

		&__ensp {
			background-image: url(../images/footer/logo_ensp.png);
		}
		&__unl {
			background-image: url(../images/footer/logo_unl.png);
		}
		&__fct {
			background-image: url(../images/footer/logo_fct.png);
			width: 182px;
			@include breakpoint(medium) {
				width: 82px;
			}
		}
	}
}