<div class="posts-about__contacts" id="contacts">
	<div class="posts-about__contacts__header">
		<h4 class="posts-about__contacts__header__title">contactos</h4>

		{{!-- <p class="posts-about__contacts__header__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error natus hic voluptatem ducimus non, mollitia in animi ab alias facilis saepe repudiandae. Vel in, aliquam nobis! Quibusdam, nulla, tempore?</p> --}}
	</div>

	<div class="posts-about__contacts__container">
		<div class="posts-about__contacts__container__block">
			{{{view 'icons/ic_phone'}}}
			<p>+351 217 512 100</p>
		</div>
		<div class="posts-about__contacts__container__block">
			{{{view 'icons/ic_email'}}}
			<p>cisp@ensp.unl.pt</p>
		</div>
		<div class="posts-about__contacts__container__block">
			{{{view 'icons/ic_pin'}}}
			<p>Escola Nacional de Saúde Pública</p>
		</div>
	</div>
</div>
