<div class="about__header">
	<ul class="about__header__menu">
		<li>Mission</li>
		<li>Scientific Advisory Board</li>
		<li>Scientific Comission</li>
		<li>Thematic Lines</li>
		<li>Management</li>
		<li>Contacts</li>
	</ul>
</div>
<div id="about-container" class="about__container"></div>