<div class="posts-about__header">
	<ul class="posts-about__header__menu">
		{{!-- <li id="navigate-mission">Mission</li>
		<li id="navigate-thematic">Thematic Lines</li>
		<li id="navigate-scientific-board">Scientific Advisory Board</li>
		<li id="navigate-management">Management</li>
		<li id="navigate-contacts">Contacts</li> --}}
		<li id="navigate-mission">Missão</li>
		<li id="navigate-thematic">Linhas Temáticas</li>
		{{!-- <li id="navigate-scientific-board">Scientific Advisory Board</li> --}}
		{{!-- <li id="navigate-management">Gestão</li> --}}
		<li id="navigate-contacts">Contactos</li>
	</ul>
</div>
<div id="about-container" class="posts-about__container">
	<div id="about-mission"></div>
	{{!-- <div id="about-sci-board"></div> --}}
	<div id="about-thematic"></div>
	{{!-- <div id="about-management"></div> --}}
	<div id="about-contacts"></div>
</div>