<div class="posts-about__header">
	<ul class="posts-about__header__menu">
		<li id="navigate-mission">Mission</li>
		<li id="navigate-scientific-board">Scientific Advisory Board</li>
		<li id="navigate-scientific-comission">Scientific Comission</li>
		<li id="navigate-thematic">Thematic Lines</li>
		<li id="navigate-management">Management</li>
		<li id="navigate-contacts">Contacts</li>
	</ul>
</div>
<div id="about-container" class="posts-about__container"></div>