<div class="posts-about__management" id="management">
	<div class="posts-about__management__header">
		<h4 class="posts-about__management__header__title">gestão</h4>

		{{!-- <p class="posts-about__management__header__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error natus hic voluptatem ducimus non, mollitia in animi ab alias facilis saepe repudiandae. Vel in, aliquam nobis! Quibusdam, nulla, tempore?</p> --}}
	</div>
	
	<div class="sci-board__row">
		
		<div class="sci-board__row__column sci-board__row__column--align-right">
			<div class="sci-board__row__thumbnail posts-about__management--thumbnail" style="background-image: url('images/about/scientific_board/paula_lobato_faria.jpg')"></div>
		</div>

		<div class="sci-board__row__column sci-board__row__column--second">
			<div class="sci-board__row__info posts-about__management--info posts-about__management--info--align-left">
				<div class="sci-board__row__info__position">Cargo</div>
				<div class="sci-board__row__info__name">Paula Lobato Faria</div>
				<div class="sci-board__row__info__description posts-about__management--description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>

				<a href="" class="sci-board__row__info__see-more posts-about__management--see-more">{{{view 'icons/ic_arrow-right'}}} ver mais</a>

			</div>
		</div>

	</div>

	<div class="sci-board__row">
		
		<div class="sci-board__row__column">
			<div class="sci-board__row__info sci-board__row__info--align-right posts-about__management--info">
				<div class="sci-board__row__info__position">Cargo</div>
				<div class="sci-board__row__info__name">Carlos Dias</div>
				<div class="sci-board__row__info__description posts-about__management--description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>

				<a href="" class="sci-board__row__info__see-more sci-board__row__info__see-more--align-right posts-about__management--see-more">{{{view 'icons/ic_arrow-right'}}} ver mais</a>

			</div>
		</div>

		<div class="sci-board__row__column sci-board__row__column--align-left">
			<div class="sci-board__row__thumbnail posts-about__management--thumbnail" style="background-image: url('images/about/scientific_board/carlos_dias.jpg')"></div>
		</div>

	</div>

	<div class="sci-board__organogram">
		<img src="images/about/scientific_comission/organogram.jpg" class="sci-board__organogram" alt="CISP - scientific comission organogram">
	</div>
</div>