<div class="posts-about__mission" id="mission">
	<div class="posts-about__mission__text">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra est sem, nec accumsan turpis laoreet nec.</p>
		<p>Suspendisse sollicitudin vulputate ornare. Pellentesque habitant morbi tristique senec- tus et netus et malesuada fames ac turpis egestas. Praesent ac suscipit elit.</p>
		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenae- os. Sed diam lorem, dapibus non erat vel, accumsan malesuada libero. Aenean posuere euis- mod eros sit amet finibus.</p>
		<p>Curabitur augue augue, molestie at nibh eu, eleifend consequat nibh. Vivamus volutpat, ligula eget posuere varius, risus dui mattis eros, ut eleifend sem mi et turpis. Etiam sollicitudin condimentum dui fringilla aliquet. Etiam tincidunt sapien rutrum, pharetra purus sed, fringilla purus. Aenean varius ante eget justo gravida molestie.</p>
		<p>Nullam quis pretium dolor. Nulla vehicula libero eget ligula maximus, vitae accumsan ex aliquam. Suspendisse in nibh eleifend mauris pellentesque blandit et eget ligula. Nunc congue mauris at enim lobortis, vestibulum aliquet tellus pretium.</p>
	</div>
	
	
	<div class="posts-about__mission__quote">
		<div class="posts-about__mission__quote__mark posts-about__mission__quote__mark--left">{{{view 'icons/ic_pause'}}}</div>
		<q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra est sem, nec accumsan turpis laoreet nec.</q>
		<div class="posts-about__mission__quote__mark posts-about__mission__quote__mark--right">{{{view 'icons/ic_pause'}}}</div>
	</div>
	
</div>