<div class="posts-about__mission" id="mission">
	<div class="posts-about__mission__text">
		{{{content}}}
	</div>
	
	
	{{!-- <div class="posts-about__mission__quote">
		<div class="posts-about__mission__quote__mark posts-about__mission__quote__mark--left">{{{view 'icons/ic_pause'}}}</div>
		<q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam viverra est sem, nec accumsan turpis laoreet nec.</q>
		<div class="posts-about__mission__quote__mark posts-about__mission__quote__mark--right">{{{view 'icons/ic_pause'}}}</div>
	</div> --}}
	
</div>