<div class="sci-board" id="scientific-board">
	
	<div class="sci-board__row">

		<h4 class="sci-board__row__title">quadro de <br> aconselhamento <br> científico</h4>

		{{!-- <p class="sci-board__row__description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
		</p> --}}
	</div>
	
	<div class="sci-board__row">
		
		<div class="sci-board__row__column sci-board__row__column--align-right">
			<div class="sci-board__row__thumbnail" style="background-image: url('images/about/scientific_board/paula_lobato_faria.jpg')"></div>
		</div>

		<div class="sci-board__row__column sci-board__row__column--second">
			<div class="sci-board__row__info">
				{{!-- <div class="sci-board__row__info__position">Position</div> --}}
				<div class="sci-board__row__info__name">Paula Lobato Faria</div>
				<div class="sci-board__row__info__description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>

				{{!-- <a href="" class="sci-board__row__info__see-more">{{{view 'icons/ic_arrow-right'}}} see more</a> --}}

			</div>
		</div>

	</div>

	<div class="sci-board__row">
		
		<div class="sci-board__row__column">
			<div class="sci-board__row__info sci-board__row__info--align-right">
				{{!-- <div class="sci-board__row__info__position">Position</div> --}}
				<div class="sci-board__row__info__name">Carlos Dias</div>
				<div class="sci-board__row__info__description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>

				{{!-- <a href="" class="sci-board__row__info__see-more sci-board__row__info__see-more--align-right">{{{view 'icons/ic_arrow-right'}}} see more</a> --}}

			</div>
		</div>

		<div class="sci-board__row__column sci-board__row__column--align-left">
			<div class="sci-board__row__thumbnail" style="background-image: url('images/about/scientific_board/carlos_dias.jpg')"></div>
		</div>

	</div>

	<div class="sci-board__row">
		
		<div class="sci-board__row__column sci-board__row__column--align-right">
			<div class="sci-board__row__thumbnail" style="background-image: url('images/about/scientific_board/luis_saboga.jpg')"></div>
		</div>

		<div class="sci-board__row__column sci-board__row__column--second">
			<div class="sci-board__row__info">
				{{!-- <div class="sci-board__row__info__position">Position</div> --}}
				<div class="sci-board__row__info__name">Paula Lobato Faria</div>
				<div class="sci-board__row__info__description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>

				{{!-- <a href="" class="sci-board__row__info__see-more">{{{view 'icons/ic_arrow-right'}}} see more</a> --}}

			</div>
		</div>

	</div>

</div>