<div class="posts-about__thematic" id="thematic-lines">
	<div class="posts-about__thematic__header">
		<h4 class="posts-about__thematic__header__title">linhas temáticas</h4>
	</div>

	<div class="posts-about__thematic__container">

		<img src="images/about/thematic_lines/organogram.jpg" class="posts-about__thematic__container__organogram" alt="CISP - scientific comission organogram">
	</div>
</div>