<div class="posts-about__thematic" id="thematic-lines">
	<div class="posts-about__thematic__header">
		<h4 class="posts-about__thematic__header__title">linhas temáticas</h4>
	</div>

	<div class="posts-about__thematic__container">
		<div class="posts-about__thematic__container__description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui necessitatibus aperiam voluptate tempore facilis laudantium sit harum, eveniet, non illo eligendi molestiae ipsum ut. Atque quae neque aliquid.</p>
			<p>Quia placeat rem, sed, possimus dolorem, ex consequuntur voluptatibus repudiandae iste nulla officia quidem sapiente voluptas. Soluta mollitia nihil, consequatur, laborum aliquam officiis. Velit repellendus enim tenetur recusandae fuga quis.</p>
		</div>

		<img src="images/about/thematic_lines/organogram.jpg" class="posts-about__thematic__container__organogram" alt="CISP - scientific comission organogram">
	</div>
</div>