.projects-container {
	@include _(full-width);
	@include _(flex);
	@include _(flex-wrap);

	padding: 0 8px;
}

.project__detail {
	@include _(full-width);
	height: 100%;
	background-color: #fff;

	&__wrapper {
		height: 100%;
		@include _(full-width);
		@include _(flex);
		@include _(justify-content-center);

		@include breakpoint(small) {
			@include _(flex-wrap);
		}
	}

	&__column {
		width: 50%;
		min-height: 320px;
		margin: 0 auto;
		padding: 128px 0;

		@include breakpoint(medium) {
			&:first-child {
				width: 30%;
			}
			&:last-child {
				width: 70%;
			}
		}

		@include breakpoint(small) {
			padding: 16px;
			margin: 0;
			min-height: 0px;

			&:first-child {
				width: 100%;
			}
			&:last-child {
				width: 100%;
			}
		}
	}

	.post__thumbnail {
		position: relative;
		min-height: 320px;
		height: 25%;
		margin-bottom: 16px;

		@include breakpoint(medium) {
			height: 0;
			min-height: 150px;
		}
	}

	.post__content__date {
		top: 16px;
		right: -16px;
		padding: 8px;

		font-size: 32px;
		font-weight: 300;
	}

	h1,
	h2 {
		margin-left: 64px;
	}

	h1 {
		@include _(title);
		margin-bottom: 16px;

		@include breakpoint(medium) {
			font-size: 28px;
			margin-left: 0;
		}
	}
	h2 {
		@include _(title-pages);

		@include breakpoint(medium) {
			font-size: 28px;
			margin-left: 0;
		}
	}

	.content {
		max-height: 100%;
		overflow: hidden;
		overflow-y: scroll;
		padding: 88px 64px 0 64px;
		line-height: 24px;

		@include breakpoint(medium) {
			padding-top: 16px;
		}

		@include breakpoint(small) {
			padding: 16px;
		}
	}

	.close {
		position: absolute;
		top: 4px;
		right: 32px;
		transform: rotate(45deg);
		font-size: 88px;
		font-weight: 300;
		color: #999;
	}
}
