<h3 class="post-list__title">Membros Efetivos</h3>
<div id="effective-list">
	<div id="members-effective" class="post-list__members__effective">{{{view "components/spinner"}}}</div>
</div>

<h3 class="post-list__title post-list__title--associated">Membros Associados</h3>
<div id="members-associated" class="post-list__members__associated">{{{view "components/spinner"}}}</div>
