.sci-board {
	position: relative;
	margin-top: 140px;
	padding-bottom: 48px;
	background-color: $blue-mariner;
	color: $white;
	@include breakpoint(small) {
		padding: 8px 8px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		height: 10px;
		background-color: $white;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 10px;
		height: 80%;
		background-color: $white;

		@include breakpoint(small) {
			display: none;
		}
	}

	&__row {
		@include _(flex);
		width: 100%;
		margin-top: 80px;

		@include breakpoint(small) {
			@include _(flex-wrap);
		}

		&:first-child {
			margin-bottom: 72px;
		}

		&__title {
			width: calc(50% - 60px);
			margin: 0;
			padding-top: 30px;
			padding-left: 60px;
			line-height: 75px;
			font-size: 60px;
			font-weight: 500;
			text-decoration: underline;
			text-transform: uppercase;

			@include breakpoint(small) {
				font-size: 30px;
				line-height: 40px;
				width: 100%;
				padding: 0;
			}
		}

		&__description {
			width: 50%;
			margin-top: auto;
		}

		&__column {
			@include _(flex);
			@include _(align-items-center);
			width: 50%;

			@include breakpoint(small) {
				width: 100%;
				order: 2;
			}

			&--align-right {
				padding-left: 140px;

				@include breakpoint(small) {
					padding-left: 0;
				}
			}

			&--align-left {
				padding-right: 140px;

				@include breakpoint(small) {
					padding-right: 0;
					order: 1;
				}
			}
		}

		&__thumbnail {
			margin: 24px auto;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			border: 2px solid $white;
			background-size: cover;
			background-position: center;
		}

		&__info {
			margin-right: auto;
			width: 70%;
			text-align: left;

			@include breakpoint(small) {
				width: 100%;
			}

			&--align-right {
				text-align: right;
				margin-left: auto;
				margin-right: 0;

				@include breakpoint(small) {
					text-align: left;
				}
			}

			&__position {
				margin-bottom: 8px;
				font-size: 14px;
			}

			&__name {
				margin-bottom: 16px;
				font-size: 18px;
				font-weight: 500;
			}

			&__description {
				margin-top: 16px;
				color: $light-gray;
				line-height: 18px;
			}

			&__see-more {
				@include _(flex);
				@include _(align-items-center);
				@include _(justify-content-start);

				margin-top: 8px;
				margin-bottom: 4px;

				svg {
					fill: $white;
					margin-right: 8px;
				}

				&--align-right {
					justify-content: flex-end !important;
					margin-left: auto;
				}
			}
		}
	}

	&__organogram {
		width: 100%;
		margin: 48px 0;
	}
}

.posts-about {
	padding: 16px;

	@include breakpoint(small) {
		padding: 16px 0;
	}

	&__header {
		width: 100%;
		margin-bottom: 32px;

		&__menu {
			@include _(flex);
			@include _(align-items-center);
			width: 100%;
			border: 2px solid $black;
			padding: 8px;

			li {
				@include _(flex);
				@include flex(1);
				@include _(space-around);
				width: 16%;
				text-align: center;
				font-weight: 500;
				font-size: 16px;

				&:hover {
					cursor: pointer;
					color: $blue-mariner;
				}
			}
		}
	}

	&__mission {

		&__text {
			padding: 16px 32px;

			@include breakpoint(small) {
				padding: 0 8px;
			}

			p {
				margin-bottom: 4px;
				font-weight: 500;
				text-indent: 40px;
				line-height: 24px;

				a {
					text-decoration: underline;

					&:hover {
						color: $blue-mariner;
					}
				}
			}
		}

		&__quote {
			position: relative;
			margin-top: 24px;
			padding: 0 24px;
			font-size: 24px;
			font-weight: 500;
			text-align: justify;
    		text-justify: inter-word;

			&__mark {
				position: absolute;

				svg {
					fill: $light-blue;
				}

				&--left {
					top: -12;
					left: 0;
				}

				&--right {
					top: 12px;
					right: 0;
				}
			}
		}
	}

	&__sci-comission {
		padding: 0 80px;
		margin-top: 100px;

		&__header {
			@include _(flex);

			&__title {
				width: 100%;
				font-size: 60px;
				line-height: 75px;
				text-decoration: underline;
				text-transform: uppercase;
				margin: 0;
			}
		}

		&__description {
			margin-top: 24px;

			p {
				margin-bottom: 4px;
				font-weight: 500;
				text-indent: 40px;
				line-height: 20px;
			}
		}
	}

	&__thematic {
		margin-top: 140px;

		&__header {
			@include _(flex);
			border-bottom: 2px solid $blue-mariner;
			margin-left: 80px;

			@include breakpoint(small) {
				margin-left: 0;
			}

			&__title {
				width: 50%;
				font-size: 60px;
				line-height: 45px;
				text-transform: uppercase;
				margin: 0;
				@include breakpoint(small) {
					font-size: 48px;
				}
			}
		}

		&__container {
			position: relative;
			padding: 40px 80px 50px 80px;

			@include breakpoint(small) {
				padding: 20px;
			}

			&:after {
				position: absolute;
				right: 0;
				top: 0;
				content: '';
				width: 10px;
				height: 100%;
				background-color: $blue-mariner;
			}
			&:before {
				position: absolute;
				right: 0;
				bottom: 0;
				content: '';
				width: 30%;
				height: 10px;
				background-color: $blue-mariner;
			}
			&__description {
				margin-top: 24px;
				margin-left: auto;
				width: 70%;

				p {
					text-align: right;
					margin-bottom: 4px;
					font-weight: 500;
					text-indent: 40px;
					line-height: 20px;
				}
			}

			&__organogram {
				width: 100%;
				margin: 24px 0;
			}
		}
	}

	&__management {
		margin-top: 180px;
		position: relative;
		z-index: 2;

		@include breakpoint(small) {
			padding: 0 8px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -70px;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 155px 0 0 195px;
			border-color: transparent transparent transparent $blue-mariner;
		}

		&__header {
			@include _(flex);

			&__title {
				width: 50%;
				font-size: 60px;
				line-height: 45px;
				text-transform: uppercase;
				margin: 0 80px;

				@include breakpoint(small) {
					font-size: 40px;
				}
			}
		}

		&--thumbnail {
			border: 2px solid $blue-mariner;
		}

		&--see-more {
			svg {
				fill: $black;
			}
		}

		&--info {
			border-bottom: 2px solid $blue-mariner;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				width: 2px;
				height: 10px;
				background-color: $blue-mariner;
				bottom: 0;
				left: 0;
			}

			&--align-left {
				&:before {
					right: 0;
					left: inherit;
				}
			}
		}

		&--description {
			color: $black;
		}
	}

	&__contacts {
		margin-top: 180px;
		background-color: $blue-mariner;
		color: $white;
		padding: 24px 80px;

		@include breakpoint(small) {
			padding: 16px 0;
			margin-top: 80px;
		}

		&__header {
			@include _(flex);

			&__title {
				width: 100%;
				text-align: center;
				font-size: 60px;
				line-height: 45px;
				text-transform: uppercase;
				margin: 0;
				font-weight: 600;

				@include breakpoint(small) {
					font-size: 40px;
				}
			}

			&__content {
				width: 40%;
				margin-left: auto;
			}
		}

		&__container {
			@include _(flex);
			@include _(flex-wrap);
			@include _(space-around);
			padding: 48px 200px 0 200px;

			@include breakpoint(small) {
				padding: 48px 0 0 0;
			}
			&__block {
				margin: 0 16px;
				max-width: 150px;
				min-width: 115px;
				text-align: center;


				svg {
					fill: $white;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
