.post-list {

	&__header {
		@include _(flex);
		@include _ (space-between);
		width: 100%;
		margin-bottom: 32px;
		
		&__title {
			width: 50%;
			font-size: 22px;
			font-weight: 500;
		}

		&__search {
			
			input {
				width: 90px;
				padding: 4px 8px;
				font-size: 14px;
				border: 1px solid $light-gray;
				transition: all .5s ease;
				
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: black;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: black;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: black;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: black;
				}

				&:focus {
					border: 1px solid $blue-mariner;					
					outline: none;
					width: 150px;
				}
			}

			button {
				position: absolute;
				top: 15px;
				right: 0;
				border: none;
				background-color: transparent;
				
				visibility: visible;
			    opacity: 1;
			    transition: opacity 0.5s, visibility 0.5s;

			    &:hover {
			    	cursor: pointer;
			    }
			}
		}

		&__no-content {
			width: 100%;
			text-align: center;
			padding-top: 100px;

			p {
				font-size: 50px;
			}
		}
	}
	
	&__container {
		width: 100%;
	}
	&__new {
		@include _(flex);
		position: relative;
		width: 100%;
		border-bottom: 2px solid $light-gray;
		margin-top: 16px;
		margin-bottom: 24px;
		padding-bottom: 8px;

		&:after {
			content:'';
			position: absolute; 
			bottom: 0; 
			right: 0; 
			height: 10px; 
			width: 2px;
			background: $light-gray; 
		}

		&__thumbnail {
			@include flex(1);
			position: relative;
			margin-right: 40px;
			margin-bottom: 8px;
			height: 160px;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;

			&__date {
				position: absolute;
			    display: block;
			    top: 10px;
			    right: -22px;
			    padding: 4px;
			    background-color: $blue-mariner;
			    color: #fff;
			    text-transform: uppercase;
			    text-align: center;
			}
		}

		&__content {
			@include flex(3);
			padding: 8px  0;
			font-size: 16px;

			&__author {
				margin-bottom: 8px;
				font-weight: 500;
			}

			&__title {
				margin-bottom: 16px;
				font-weight: 700;
				font-size: 20px;
			}

			&__text {
				font-weight: 500;
				line-height: 18px;

				p {
					margin-bottom: 8px;
				}
			}

		}
	}
}
