<div class="footer__logo">
	{{{view "icons/ic_logo-v01"}}}
</div>
<p class="footer__copy-right">COPYRIGHT ® 2015 Centro de Investigação de Saúde Pública. All rights reserved</p>
<div class="footer__partners">
	<div class="footer__partners__ensp"></div>
	<div class="footer__partners__unl"></div>
	<div class="footer__partners__fct"></div>
</div>
