<div class="footer__logo">
	{{{view "icons/ic_logo-v01"}}}
</div>
<p class="footer__copy-right">COPYRIGHT ® 2015 Centro de Investigação em Saúde Pública. Todos os direitos reservados</p>
<div class="footer__partners">
	<a href="https://www.ensp.unl.pt" target="_blank" class="footer__partners__ensp"></a>
	<div class="footer__partners__fct"></div>
</div>
