html, body, div, span,
h1, h2, p,
a,
img,
ul, li,
article,
header,
menu, section,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details,
header, menu, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

.header {
  padding: 16px; }

@media (max-width: 900px) {
  .post--project-item {
    width: 100%; } }

html, body, header, .post__thumbnail, .post__content__author, .post__content__title, .post__content__excerpt, .post__content__btn {
  width: 100%; }

.header__wrapper, .hero-section, .spinner, .posts-list, .posts-list .subtitle, .detail__category-wrapper,
.detail .post__content__details, .detail__excerpt, .detail__thumbnail__wrapper,
.detail__content__wrapper img {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.header__wrapper, .footer__container, .footer__partners, .posts-list {
  display: flex; }

.header__wrapper, .footer__container, .footer__partners {
  justify-content: space-between; }

.header__wrapper, .footer__container, .footer__partners {
  align-items: center; }

.header__wrapper, .footer__container, .posts-list {
  flex-wrap: wrap; }

.no-results {
  font-size: 35px; }

.post__content__title {
  font-size: 20px;
  font-weight: 500; }

.hero-section__claim {
  font-size: 36px;
  font-weight: 500;
  color: #fff; }

.posts-list .subtitle, .post__content__author {
  font-size: 15px; }

.post__content__excerpt {
  font-size: 16px; }

.post__content__date {
  font-size: 12px; }

.post__content__btn {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; }

a {
  color: inherit;
  text-decoration: none; }

[class$="-btn"] {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none; }

html, body, header {
  margin: 0; }

html, body {
  height: 100%; }

body {
  background-color: #fff;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  text-rendering: optimizelegibility; }
  body a {
    -webkit-font-smoothing: antialiased !important; }

.app {
  position: relative;
  min-height: 100%;
  margin-top: 500px;
  z-index: 1; }
  @media (max-width: 900px) {
    .app {
      margin-top: 56px; } }

.header {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #BFBEBE; }
  @media (max-width: 900px) {
    .header {
      height: 64px; } }
  .header__wrapper {
    height: 60px;
    z-index: 1;
    margin-bottom: 48px; }
    .header__wrapper__logo svg {
      width: 150px;
      height: 35px; }
      .header__wrapper__logo svg rect,
      .header__wrapper__logo svg path {
        fill: #fff; }
    .header__wrapper__logo p {
      font-size: 13px;
      color: white; }
    .header__wrapper__menu {
      background-color: #446CB3;
      color: #fff;
      text-decoration: underline;
      padding: 6px; }

.hero-section__claim {
  position: relative;
  display: flex;
  margin-left: 32px;
  text-align: right; }
  .hero-section__claim__underline {
    position: absolute;
    width: 90px;
    bottom: 4px;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #fff; }

.footer {
  padding: 16px 32px; }
  .footer__container {
    padding: 8px;
    text-align: center; }
  .footer__logo {
    margin: 0 24px 8px 24px;
    width: 260px; }
    .footer__logo svg {
      width: 260px;
      height: 60px; }
  .footer p {
    font-size: 12px;
    margin-bottom: 8px; }
  .footer__partners__ensp, .footer__partners__unl, .footer__partners__fct {
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0 24px 8px 24px; }
  .footer__partners__ensp {
    background-image: url(../images/footer/logo_ensp.png); }
  .footer__partners__unl {
    background-image: url(../images/footer/logo_unl.png); }
  .footer__partners__fct {
    background-image: url(../images/footer/logo_fct.png);
    width: 182px; }

.spinner {
  position: relative;
  display: block;
  padding: 72px;
  text-align: center; }
  .spinner .signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    animation: pulsate 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite; }

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

.posts-list {
  padding: 16px 0 32px 0; }
  .posts-list .subtitle {
    padding: 16px 0 16px 0;
    text-transform: uppercase; }

.post {
  position: relative;
  width: 33.33333%;
  background-color: #fff; }
  .post .more-link {
    display: none; }
  .post__thumbnail {
    display: block;
    height: 160px;
    margin-bottom: 16px;
    border-bottom: 3px solid #3F51B5;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .post__content__date {
    position: absolute;
    display: block;
    top: 48px;
    right: 32px;
    padding: 4px;
    background-color: #3F51B5;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .post__content__author, .post__content__title, .post__content__excerpt, .post__content__btn {
    display: block;
    margin-bottom: 8px; }
  .post__content__title {
    font-weight: bold; }
  .post__content__excerpt {
    margin-bottom: 16px;
    color: rgba(85, 85, 85, 0.9); }
  .post__content__btn {
    height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px; }
  .post--project-item {
    padding: 40px; }

.no-results {
  padding: 32px;
  text-align: center; }

.detail {
  padding: 0 0 32px 0;
  background-color: #fff; }
  .detail__category-wrapper,
  .detail .post__content__details, .detail__excerpt, .detail__thumbnail__wrapper,
  .detail__content__wrapper img {
    position: relative;
    display: block; }

/*# sourceMappingURL=main.css.map */