html, body, div, span,
h1, h2, p,
a,
img,
ul, li,
article,
header,
menu, section,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details,
header, menu, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

html, body, header, .post__thumbnail, .post__content__author, .post__content__title, .post__content__excerpt, .post__content__btn, .projects-container, .project__detail, .project__detail__wrapper, .events-container, .event__detail, .event__detail__wrapper, .publications-container, .publication-list, .publication-list .home__section__publication__content, .publication__item {
  width: 100%; }

.app, .spinner, .posts-list, .posts-list .subtitle, .detail__category-wrapper,
.detail .post__content__details, .detail__excerpt, .detail__thumbnail__wrapper,
.detail__content__wrapper img {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .app, .spinner, .posts-list, .posts-list .subtitle, .detail__category-wrapper,
    .detail .post__content__details, .detail__excerpt, .detail__thumbnail__wrapper,
    .detail__content__wrapper img {
      max-width: 100%;
      padding: 0 32px; } }

.header__container, .hero-section__container, .hero-section__claim, .menu__container, .menu__wrapper__close, .home__section, .home__section__new, .home__section__new a, .home__section__publication, .home__section__publication a, .footer__container, .footer__partners, .posts-list, .projects-container, .project__detail__wrapper, .sci-board__row, .sci-board__row__column, .sci-board__row__info__see-more, .posts-about__header__menu, .posts-about__header__menu li, .posts-about__sci-comission__header, .posts-about__thematic__header, .posts-about__management__header, .posts-about__contacts__header, .posts-about__contacts__container, .post-list__header, .post-list__new, .post-list__new__content__button, .events-container, .event__detail__wrapper, .post-list__members__effective, .post-list__members__associated, .post-list__member__content, .member__detail__wrapper, .member__detail__article__see-more, .publications-container, .publications-filter, .publications-filter-list, .publication-list, .publication__item {
  display: flex; }

.hero-section__container, .posts-list--members {
  flex-direction: column; }

@media (max-width: 600px) {
  .posts-list--members {
    justify-content: center; } }

@media (max-width: 900px) {
  .post-list__members__effective .effective-list, .post-list__members__associated .associated-list {
    justify-content: center; } }

.header__container, .project__detail__wrapper, .event__detail__wrapper, .post-list__member__content {
  justify-content: center; }

.hero-section__container, .footer__container, .footer__partners, .post-list__header, .post-list__members__effective, .post-list__members__associated, .publication__item {
  justify-content: space-between; }

.posts-about__header__menu li, .posts-about__contacts__container {
  justify-content: space-around; }

.sci-board__row__info__see-more {
  justify-content: flex-start; }

.menu__container, .publications-filter, .publications-filter-list {
  justify-content: flex-end; }

.home__section__new a, .home__section__publication a, .footer__container, .footer__partners, .sci-board__row__column, .sci-board__row__info__see-more, .posts-about__header__menu, .post-list__new__content__button, .member__detail__article__see-more {
  align-items: center; }

@media (max-width: 400px) {
  .footer__partners {
    flex-wrap: wrap; } }

@media (max-width: 600px) {
  .home__section__new, .project__detail__wrapper, .sci-board__row, .event__detail__wrapper {
    flex-wrap: wrap; } }

.home__section, .footer__container, .posts-list, .projects-container, .posts-about__contacts__container, .post-list__new, .events-container, .post-list__members__effective, .post-list__members__associated, .member__detail__wrapper, .publications-container, .publications-filter, .publications-filter-list, .publication-list {
  flex-wrap: wrap; }

.no-results {
  font-size: 35px; }

.post__content__title, .project__detail h1 {
  font-size: 20px;
  font-weight: 500; }

.project__detail h2, .event__detail__title {
  font-size: 36px;
  font-weight: 500; }

.hero-section__claim {
  font-size: 36px;
  font-weight: 500;
  color: #fff; }

.posts-list .subtitle, .post__content__author {
  font-size: 15px; }

.post__content__excerpt {
  font-size: 16px; }

.post__content__date, .publications-filter .tab, .publications-filter .dropdown,
.publications-filter .search {
  font-size: 12px; }

.post__content__btn {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; }

a {
  color: inherit;
  text-decoration: none; }

.content a {
  text-decoration: underline; }
  .content a:hover {
    color: #45639F; }

[class$="-btn"] {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none; }

html, body, header {
  margin: 0; }

body {
  background-color: #fff;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  color: black;
  text-rendering: optimizelegibility; }
  body a {
    -webkit-font-smoothing: antialiased !important; }

.app {
  position: relative;
  min-height: 100%;
  margin-top: 500px;
  z-index: 1; }
  @media (max-width: 900px) {
    .app {
      margin-top: 300px; } }
  @media (max-width: 600px) {
    .app {
      margin-top: 300px;
      padding: 0; } }

.header {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-image: url(../images/hero/01.jpeg);
  background-position: center;
  background-size: cover; }
  @media (max-width: 900px) {
    .header {
      height: 300px; } }
  .header.sobre {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  .header.membros {
    box-shadow: inset 0 0 0 1000px rgba(17, 64, 117, 0.7); }
  .header.projetos {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  .header.eventos {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  .header.publicacoes {
    box-shadow: inset 0 0 0 1000px rgba(18, 43, 143, 0.7); }
  .header.novidades {
    box-shadow: inset 0 0 0 1000px rgba(16, 53, 129, 0.7); }
  .header__container {
    height: 100%; }

.hero-section {
  width: 100%;
  height: 100%; }
  .hero-section.active {
    background-color: #00156A;
    opacity: 0.8; }
  .hero-section__container {
    color: #fff;
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin-left: auto;
    padding: 32px 0 16px 16px; }
  .hero-section__logo {
    display: block;
    position: relative; }
    .hero-section__logo:hover {
      cursor: pointer; }
    .hero-section__logo svg {
      width: 150px;
      height: 35px; }
      .hero-section__logo svg rect,
      .hero-section__logo svg path {
        fill: #fff; }
    .hero-section__logo p {
      font-size: 13px;
      margin: 2px 0 4px 0;
      color: white; }
    .hero-section__logo--ensp {
      display: none;
      position: absolute;
      top: 0;
      right: 20px;
      background-image: url(../images/hero/ensp_unl_white.png);
      background-position: center;
      background-size: cover;
      width: 199px;
      height: 93px; }
      .hero-section__logo--ensp .active {
        display: block; }
      @media (max-width: 900px) {
        .hero-section__logo--ensp {
          position: relative;
          width: 119px;
          height: 53px;
          margin-top: 18px;
          margin-left: 16px; } }
  .hero-section__claim {
    position: relative;
    margin-left: 32px;
    text-align: right; }
    .hero-section__claim__underline {
      position: absolute;
      width: 90px;
      bottom: 4px;
      left: 0;
      background-color: #fff;
      border-bottom: 1px solid #fff; }
      @media (max-width: 900px) {
        .hero-section__claim__underline {
          width: 78px; } }
      @media (max-width: 600px) {
        .hero-section__claim__underline {
          width: 68px; } }
    @media (max-width: 900px) {
      .hero-section__claim {
        margin-top: 20px;
        font-size: 30px; } }
    @media (max-width: 600px) {
      .hero-section__claim {
        font-size: 24px;
        min-width: 185px;
        margin-left: 0; } }
  .hero-section__block {
    display: block;
    float: left; }
    .hero-section__block__title {
      color: #BFBEBE; }
    .hero-section__block__text {
      padding-right: 10%;
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px; }
    @media (max-width: 900px) {
      .hero-section__block {
        display: none; } }
    @media (max-width: 600px) {
      .hero-section__block {
        display: none; } }
  .hero-section__page-identifier {
    display: block;
    float: left;
    margin-top: 320px; }
    .hero-section__page-identifier a {
      font-size: 50px;
      text-transform: uppercase;
      text-decoration: underline; }
      @media (max-width: 600px) {
        .hero-section__page-identifier a {
          font-size: 30px;
          line-height: 30px; } }
    .hero-section__page-identifier--small {
      margin-top: 290px; }
      .hero-section__page-identifier--small a {
        line-height: 50px;
        font-size: 40px; }
        @media (max-width: 600px) {
          .hero-section__page-identifier--small a {
            font-size: 20px;
            line-height: 30px; } }
    @media (max-width: 900px) {
      .hero-section__page-identifier {
        margin-top: 50px; } }

.menu {
  width: 100%;
  height: 100%; }
  .menu__button {
    display: none;
    font-size: 28px;
    letter-spacing: 2px;
    width: 108px;
    height: 42px;
    padding: 6px;
    text-align: center;
    text-decoration: underline;
    background-color: #446CB3;
    color: #fff; }
    .menu__button:hover {
      cursor: pointer; }
    .menu__button.active {
      display: block; }
  .menu.active {
    background-color: black;
    opacity: 0.8; }
  .menu__container {
    color: #fff;
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding: 32px 16px 0 0; }
    @media (max-width: 900px) {
      .menu__container {
        padding-top: 15px; } }
    @media (max-width: 400px) {
      .menu__container {
        padding: 15px 0 0 0; } }
  .menu__wrapper {
    display: none; }
    .menu__wrapper__close {
      margin-bottom: 64px; }
      .menu__wrapper__close svg {
        margin-left: auto;
        fill: #fff;
        width: 40px;
        height: 40px; }
        .menu__wrapper__close svg:hover {
          cursor: pointer; }
      @media (max-width: 900px) {
        .menu__wrapper__close {
          height: 15px; } }
      @media (max-width: 600px) {
        .menu__wrapper__close {
          margin-bottom: 32px; } }
    .menu__wrapper ul {
      margin-bottom: auto;
      font-size: 24px;
      font-weight: 600; }
      .menu__wrapper ul li {
        text-align: right;
        margin: 8px 0; }
        .menu__wrapper ul li:hover {
          cursor: pointer;
          text-decoration: underline; }
        @media (max-width: 600px) {
          .menu__wrapper ul li {
            margin: 10px; } }
      @media (max-width: 600px) {
        .menu__wrapper ul {
          font-size: 21px; } }
      @media (max-width: 400px) {
        .menu__wrapper ul {
          font-size: 16px; } }

.home__section {
  padding: 32px 100px;
  width: 100%;
  min-height: 250px; }
  .home__section__title {
    width: 100%;
    margin-bottom: 8px;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 600; }
  @media (max-width: 900px) {
    .home__section {
      padding: 32px 8px; } }

.home__section__new {
  flex: 1;
  position: relative;
  margin: 0 24px 16px 0;
  padding-right: 8px;
  padding-bottom: 8px;
  min-width: 190px;
  border-bottom: 2px solid #BFBEBE; }
  @media (max-width: 900px) {
    .home__section__new {
      width: 100% !important;
      flex: auto;
      margin-right: 0; } }
  .home__section__new:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10%;
    width: 2px;
    background: #BFBEBE; }
  .home__section__new--large {
    flex: 2;
    min-width: 340px;
    border-bottom: 3px solid #446CB3; }
    .home__section__new--large:after {
      width: 3px;
      background: #446CB3; }
  .home__section__new__content {
    flex-grow: 1;
    min-width: 50%; }
    @media (max-width: 600px) {
      .home__section__new__content {
        order: 2;
        width: 100%; } }
    .home__section__new__content__when, .home__section__new__content__where {
      margin-top: 8px; }
      .home__section__new__content__when span, .home__section__new__content__where span {
        font-weight: 700; }
  .home__section__new__image {
    flex-grow: 1;
    min-width: 50%;
    background-position: center;
    background-size: cover; }
    @media (max-width: 600px) {
      .home__section__new__image {
        order: 1;
        width: 100%;
        height: 40px; } }
  .home__section__new h4 {
    margin: 8px 0; }
  .home__section__new p {
    color: #404040; }
    .home__section__new p a {
      display: none; }
  .home__section__new a {
    margin-top: 16px;
    padding-left: 8px; }
    .home__section__new a svg {
      margin-right: 16px; }
  .home__section__new img {
    width: 250px;
    height: 180px; }

.load-more {
  margin: 32px auto;
  padding: 4px 0 4px 8px;
  text-align: center;
  border: 2px solid #444;
  letter-spacing: 8px; }
  .load-more:hover {
    cursor: pointer; }

.home__section__publication {
  position: relative;
  width: calc(33.333% - 24px);
  margin: 0 24px 16px 0;
  padding-right: 8px;
  padding-bottom: 28px;
  min-width: 190px;
  border-bottom: 2px solid #BFBEBE; }
  @media (max-width: 900px) {
    .home__section__publication {
      width: 100%;
      margin-right: 0; } }
  .home__section__publication:hover {
    border-bottom: 2px solid #45639F; }
  .home__section__publication h4 {
    margin: 8px 0; }
  .home__section__publication p {
    color: #404040; }
    .home__section__publication p a {
      display: none; }
  .home__section__publication a {
    margin-top: 64px;
    padding-left: 8px; }
    .home__section__publication a svg {
      margin-right: 16px; }
  .home__section__publication time {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 6px 8px;
    background-color: #45639F;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: #fff; }

.footer {
  margin-top: 80px;
  padding: 16px 32px; }
  @media (max-width: 600px) {
    .footer {
      padding: 8px; } }
  .footer__container {
    padding: 8px;
    text-align: center; }
    @media (max-width: 900px) {
      .footer__container {
        justify-content: flex-start; } }
    @media (max-width: 600px) {
      .footer__container {
        justify-content: center; } }
  .footer__logo {
    flex: 1;
    margin: 0 24px 8px 24px;
    width: 260px; }
    .footer__logo svg {
      width: 160px;
      height: 60px; }
    @media (max-width: 900px) {
      .footer__logo {
        width: 130px; }
        .footer__logo svg {
          width: 130px;
          height: auto; } }
  .footer__copy-right {
    flex: 1 0 200px;
    font-size: 12px;
    margin-bottom: 8px; }
    @media (max-width: 900px) {
      .footer__copy-right {
        margin-top: 8px;
        font-size: 10px;
        order: 3; } }
  .footer__partners {
    flex: 1 0 200px; }
    .footer__partners__ensp, .footer__partners__fct {
      background-size: cover;
      background-repeat: no-repeat;
      height: 60px;
      margin: 0 24px 8px 24px; }
      @media (max-width: 900px) {
        .footer__partners__ensp, .footer__partners__fct {
          width: 30px;
          height: 30px; } }
    .footer__partners__ensp {
      background-image: url(../images/footer/logo_ensp_unl.png);
      width: 220px;
      height: 100px; }
      @media (max-width: 900px) {
        .footer__partners__ensp {
          width: 177px;
          height: 80px;
          margin: 0 auto; } }
    .footer__partners__fct {
      background-image: url(../images/footer/logo_fct.png);
      width: 182px; }
      @media (max-width: 900px) {
        .footer__partners__fct {
          width: 82px;
          margin: 0px auto; } }

.spinner {
  position: relative;
  display: block;
  padding: 72px;
  text-align: center; }
  .spinner .signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    animation: pulsate 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite; }

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

.posts-list {
  padding: 16px 0 32px 0; }
  .posts-list .subtitle {
    padding: 16px 0 16px 0;
    text-transform: uppercase; }
  @media (max-width: 2560px) {
    .posts-list--news {
      padding: 8px; } }

.post {
  position: relative;
  width: 33.33333%;
  background-color: #fff; }
  .post .more-link {
    display: none; }
  .post__thumbnail {
    display: block;
    height: 160px;
    margin-bottom: 16px;
    border-bottom: 3px solid #3F51B5;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .post__content__date {
    position: absolute;
    display: block;
    top: 48px;
    right: 32px;
    padding: 4px;
    background-color: #3F51B5;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .post__content__author, .post__content__title, .post__content__excerpt, .post__content__btn {
    display: block;
    margin-bottom: 8px; }
  .post__content__title {
    font-weight: bold; }
  .post__content__excerpt {
    margin-bottom: 16px;
    color: rgba(85, 85, 85, 0.9); }
  .post__content__btn {
    height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px; }
  .post--project-item {
    padding: 40px; }
    @media (max-width: 900px) {
      .post--project-item {
        width: 100% !important;
        padding: 16px 0; } }

.no-results {
  padding: 32px;
  text-align: center; }

.detail {
  padding: 0 0 32px 0;
  background-color: #fff; }
  .detail__category-wrapper,
  .detail .post__content__details, .detail__excerpt, .detail__thumbnail__wrapper,
  .detail__content__wrapper img {
    position: relative;
    display: block; }

.projects-container {
  padding: 0 8px; }

.project__detail {
  height: 100%;
  background-color: #fff; }
  .project__detail__wrapper {
    height: 100%; }
  .project__detail__column {
    width: 50%;
    min-height: 320px;
    margin: 0 auto;
    padding: 128px 0; }
    @media (max-width: 900px) {
      .project__detail__column:first-child {
        width: 30%; }
      .project__detail__column:last-child {
        width: 70%; } }
    @media (max-width: 600px) {
      .project__detail__column {
        padding: 16px;
        margin: 0;
        min-height: 0px; }
        .project__detail__column:first-child {
          width: 100%; }
        .project__detail__column:last-child {
          width: 100%; } }
  .project__detail .post__thumbnail {
    position: relative;
    min-height: 320px;
    height: 25%;
    margin-bottom: 16px; }
    @media (max-width: 900px) {
      .project__detail .post__thumbnail {
        height: 0;
        min-height: 150px; } }
  .project__detail .post__content__date {
    top: 16px;
    right: -16px;
    padding: 8px;
    font-size: 32px;
    font-weight: 300; }
  .project__detail h1,
  .project__detail h2 {
    margin-left: 64px; }
  .project__detail h1 {
    margin-bottom: 16px; }
    @media (max-width: 900px) {
      .project__detail h1 {
        font-size: 28px;
        margin-left: 0; } }
  @media (max-width: 900px) {
    .project__detail h2 {
      font-size: 28px;
      margin-left: 0; } }
  .project__detail .content {
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 88px 64px 0 64px;
    line-height: 24px; }
    @media (max-width: 900px) {
      .project__detail .content {
        padding-top: 16px; } }
    @media (max-width: 600px) {
      .project__detail .content {
        padding: 16px; } }
  .project__detail .close {
    position: absolute;
    top: 4px;
    right: 32px;
    transform: rotate(45deg);
    font-size: 88px;
    font-weight: 300;
    color: #999; }

.sci-board {
  position: relative;
  margin-top: 140px;
  padding-bottom: 48px;
  background-color: #45639F;
  color: #fff; }
  @media (max-width: 600px) {
    .sci-board {
      padding: 8px 8px; } }
  .sci-board:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 10px;
    background-color: #fff; }
  .sci-board:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 80%;
    background-color: #fff; }
    @media (max-width: 600px) {
      .sci-board:after {
        display: none; } }
  .sci-board__row {
    width: 100%;
    margin-top: 80px; }
    .sci-board__row:first-child {
      margin-bottom: 72px; }
    .sci-board__row__title {
      width: calc(50% - 60px);
      margin: 0;
      padding-top: 30px;
      padding-left: 60px;
      line-height: 75px;
      font-size: 60px;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase; }
      @media (max-width: 600px) {
        .sci-board__row__title {
          font-size: 30px;
          line-height: 40px;
          width: 100%;
          padding: 0; } }
    .sci-board__row__description {
      width: 50%;
      margin-top: auto; }
    .sci-board__row__column {
      width: 50%; }
      @media (max-width: 600px) {
        .sci-board__row__column {
          width: 100%;
          order: 2; } }
      .sci-board__row__column--align-right {
        padding-left: 140px; }
        @media (max-width: 600px) {
          .sci-board__row__column--align-right {
            padding-left: 0; } }
      .sci-board__row__column--align-left {
        padding-right: 140px; }
        @media (max-width: 600px) {
          .sci-board__row__column--align-left {
            padding-right: 0;
            order: 1; } }
    .sci-board__row__thumbnail {
      margin: 24px auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-size: cover;
      background-position: center; }
    .sci-board__row__info {
      margin-right: auto;
      width: 70%;
      text-align: left; }
      @media (max-width: 600px) {
        .sci-board__row__info {
          width: 100%; } }
      .sci-board__row__info--align-right {
        text-align: right;
        margin-left: auto;
        margin-right: 0; }
        @media (max-width: 600px) {
          .sci-board__row__info--align-right {
            text-align: left; } }
      .sci-board__row__info__position {
        margin-bottom: 8px;
        font-size: 14px; }
      .sci-board__row__info__name {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 500; }
      .sci-board__row__info__description {
        margin-top: 16px;
        color: #BFBEBE;
        line-height: 18px; }
      .sci-board__row__info__see-more {
        margin-top: 8px;
        margin-bottom: 4px; }
        .sci-board__row__info__see-more svg {
          fill: #fff;
          margin-right: 8px; }
        .sci-board__row__info__see-more--align-right {
          justify-content: flex-end !important;
          margin-left: auto; }
  .sci-board__organogram {
    width: 100%;
    margin: 48px 0; }

.posts-about {
  padding: 16px; }
  @media (max-width: 600px) {
    .posts-about {
      padding: 16px 0; } }
  .posts-about__header {
    width: 100%;
    margin-bottom: 32px; }
    .posts-about__header__menu {
      width: 100%;
      border: 2px solid #000;
      padding: 8px; }
      .posts-about__header__menu li {
        flex: 1;
        width: 16%;
        text-align: center;
        font-weight: 500;
        font-size: 16px; }
        .posts-about__header__menu li:hover {
          cursor: pointer;
          color: #45639F; }
  .posts-about__mission__text {
    padding: 16px 32px; }
    @media (max-width: 600px) {
      .posts-about__mission__text {
        padding: 0 8px; } }
    .posts-about__mission__text p {
      margin-bottom: 4px;
      font-weight: 500;
      text-indent: 40px;
      line-height: 24px; }
      .posts-about__mission__text p a {
        text-decoration: underline; }
        .posts-about__mission__text p a:hover {
          color: #45639F; }
  .posts-about__mission__quote {
    position: relative;
    margin-top: 24px;
    padding: 0 24px;
    font-size: 24px;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word; }
    .posts-about__mission__quote__mark {
      position: absolute; }
      .posts-about__mission__quote__mark svg {
        fill: #4498C8; }
      .posts-about__mission__quote__mark--left {
        top: -12;
        left: 0; }
      .posts-about__mission__quote__mark--right {
        top: 12px;
        right: 0; }
  .posts-about__sci-comission {
    padding: 0 80px;
    margin-top: 100px; }
    .posts-about__sci-comission__header__title {
      width: 100%;
      font-size: 60px;
      line-height: 75px;
      text-decoration: underline;
      text-transform: uppercase;
      margin: 0; }
    .posts-about__sci-comission__description {
      margin-top: 24px; }
      .posts-about__sci-comission__description p {
        margin-bottom: 4px;
        font-weight: 500;
        text-indent: 40px;
        line-height: 20px; }
  .posts-about__thematic {
    margin-top: 140px; }
    .posts-about__thematic__header {
      border-bottom: 2px solid #45639F;
      margin-left: 80px; }
      @media (max-width: 600px) {
        .posts-about__thematic__header {
          margin-left: 0; } }
      .posts-about__thematic__header__title {
        width: 50%;
        font-size: 60px;
        line-height: 45px;
        text-transform: uppercase;
        margin: 0; }
        @media (max-width: 600px) {
          .posts-about__thematic__header__title {
            font-size: 48px; } }
    .posts-about__thematic__container {
      position: relative;
      padding: 40px 80px 50px 80px; }
      @media (max-width: 600px) {
        .posts-about__thematic__container {
          padding: 20px; } }
      .posts-about__thematic__container:after {
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        width: 10px;
        height: 100%;
        background-color: #45639F; }
      .posts-about__thematic__container:before {
        position: absolute;
        right: 0;
        bottom: 0;
        content: '';
        width: 30%;
        height: 10px;
        background-color: #45639F; }
      .posts-about__thematic__container__description {
        margin-top: 24px;
        margin-left: auto;
        width: 70%; }
        .posts-about__thematic__container__description p {
          text-align: right;
          margin-bottom: 4px;
          font-weight: 500;
          text-indent: 40px;
          line-height: 20px; }
      .posts-about__thematic__container__organogram {
        width: 100%;
        margin: 24px 0; }
  .posts-about__management {
    margin-top: 180px;
    position: relative;
    z-index: 2; }
    @media (max-width: 600px) {
      .posts-about__management {
        padding: 0 8px; } }
    .posts-about__management:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -70px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 155px 0 0 195px;
      border-color: transparent transparent transparent #45639F; }
    .posts-about__management__header__title {
      width: 50%;
      font-size: 60px;
      line-height: 45px;
      text-transform: uppercase;
      margin: 0 80px; }
      @media (max-width: 600px) {
        .posts-about__management__header__title {
          font-size: 40px; } }
    .posts-about__management--thumbnail {
      border: 2px solid #45639F; }
    .posts-about__management--see-more svg {
      fill: #000; }
    .posts-about__management--info {
      border-bottom: 2px solid #45639F;
      position: relative; }
      .posts-about__management--info:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 10px;
        background-color: #45639F;
        bottom: 0;
        left: 0; }
      .posts-about__management--info--align-left:before {
        right: 0;
        left: inherit; }
    .posts-about__management--description {
      color: #000; }
  .posts-about__contacts {
    margin-top: 180px;
    background-color: #45639F;
    color: #fff;
    padding: 24px 80px; }
    @media (max-width: 600px) {
      .posts-about__contacts {
        padding: 16px 0;
        margin-top: 80px; } }
    .posts-about__contacts__header__title {
      width: 100%;
      text-align: center;
      font-size: 60px;
      line-height: 45px;
      text-transform: uppercase;
      margin: 0;
      font-weight: 600; }
      @media (max-width: 600px) {
        .posts-about__contacts__header__title {
          font-size: 40px; } }
    .posts-about__contacts__header__content {
      width: 40%;
      margin-left: auto; }
    .posts-about__contacts__container {
      padding: 48px 200px 0 200px; }
      @media (max-width: 600px) {
        .posts-about__contacts__container {
          padding: 48px 0 0 0; } }
      .posts-about__contacts__container__block {
        margin: 0 16px;
        max-width: 150px;
        min-width: 115px;
        text-align: center; }
        .posts-about__contacts__container__block svg {
          fill: #fff;
          width: 30px;
          height: 30px; }

.post-list__header {
  width: 100%;
  margin-bottom: 32px; }
  .post-list__header__title {
    width: 50%;
    font-size: 22px;
    font-weight: 500; }
  .post-list__header__search input {
    width: 90px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid #BFBEBE;
    transition: all .5s ease; }
    .post-list__header__search input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: black; }
    .post-list__header__search input ::-moz-placeholder {
      /* Firefox 19+ */
      color: black; }
    .post-list__header__search input :-ms-input-placeholder {
      /* IE 10+ */
      color: black; }
    .post-list__header__search input :-moz-placeholder {
      /* Firefox 18- */
      color: black; }
    .post-list__header__search input:focus {
      border: 1px solid #45639F;
      outline: none;
      width: 150px; }
  .post-list__header__search button {
    position: absolute;
    top: 15px;
    right: 0;
    border: none;
    background-color: transparent;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s; }
    .post-list__header__search button:hover {
      cursor: pointer; }
  .post-list__header__no-content {
    width: 100%;
    text-align: center;
    padding-top: 100px; }
    .post-list__header__no-content p {
      font-size: 50px; }

.post-list__container {
  width: 100%; }

.post-list__new {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #BFBEBE;
  margin-top: 16px;
  margin-bottom: 24px;
  padding-bottom: 8px; }
  .post-list__new:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 2px;
    background: #BFBEBE; }
  .post-list__new__thumbnail {
    flex: 1;
    position: relative;
    margin-right: 40px;
    margin-bottom: 8px;
    height: 160px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .post-list__new__thumbnail__date {
      position: absolute;
      display: block;
      top: 10px;
      right: -22px;
      padding: 4px;
      background-color: #45639F;
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
  .post-list__new__content {
    flex: 3;
    padding: 8px  0;
    font-size: 16px; }
    .post-list__new__content__author {
      margin-bottom: 8px;
      font-weight: 500; }
    .post-list__new__content__title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 20px; }
    .post-list__new__content__text {
      font-weight: 500;
      line-height: 18px; }
      .post-list__new__content__text p {
        margin-bottom: 8px; }

.post-list__header {
  width: 100%;
  margin-bottom: 32px; }
  .post-list__header__title {
    width: 50%;
    font-size: 22px;
    font-weight: 500; }
    @media (max-width: 900px) {
      .post-list__header__title {
        font-size: 16px; } }
  .post-list__header__search input {
    width: 90px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid #BFBEBE;
    transition: all .5s ease; }
    .post-list__header__search input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: black; }
    .post-list__header__search input ::-moz-placeholder {
      /* Firefox 19+ */
      color: black; }
    .post-list__header__search input :-ms-input-placeholder {
      /* IE 10+ */
      color: black; }
    .post-list__header__search input :-moz-placeholder {
      /* Firefox 18- */
      color: black; }
    .post-list__header__search input:focus {
      border: 1px solid #45639F;
      outline: none;
      width: 150px; }
  .post-list__header__search button {
    position: absolute;
    top: 15px;
    right: 0;
    border: none;
    background-color: transparent;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s; }
    .post-list__header__search button:hover {
      cursor: pointer; }
  .post-list__header__no-content {
    width: 100%;
    text-align: center;
    padding-top: 100px; }
    .post-list__header__no-content p {
      font-size: 50px; }

.post-list__section__title h2 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 34px; }

.post-list__new {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #BFBEBE;
  margin-top: 16px;
  margin-bottom: 24px;
  padding-bottom: 8px; }
  .post-list__new:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 2px;
    background: #BFBEBE; }
  .post-list__new__thumbnail {
    flex: 1;
    position: relative;
    margin-right: 40px;
    margin-bottom: 8px;
    height: 160px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    @media (max-width: 900px) {
      .post-list__new__thumbnail {
        flex: 0 0 100%;
        width: 0; } }
    .post-list__new__thumbnail__date {
      position: absolute;
      display: block;
      top: 10px;
      right: -22px;
      padding: 4px;
      background-color: #45639F;
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
  .post-list__new__content {
    flex: 3;
    padding: 8px  0;
    font-size: 16px; }
    .post-list__new__content__author {
      margin-bottom: 8px;
      font-weight: 500; }
    .post-list__new__content__title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 20px; }
    .post-list__new__content__when, .post-list__new__content__where {
      margin-bottom: 8px; }
      .post-list__new__content__when span, .post-list__new__content__where span {
        font-weight: 700; }
    .post-list__new__content__text {
      margin-top: 16px;
      font-weight: 500;
      line-height: 18px; }
      .post-list__new__content__text p {
        margin-bottom: 8px; }
    .post-list__new__content__button {
      margin-top: 16px; }
      .post-list__new__content__button svg {
        margin-right: 8px; }

.event__detail {
  height: 100%;
  background-color: #fff; }
  .event__detail__wrapper {
    height: 100%; }
  .event__detail__column {
    width: 50%;
    min-height: 320px;
    margin: 0 auto;
    padding: 128px 0; }
    @media (max-width: 900px) {
      .event__detail__column:first-child {
        width: 30%; }
      .event__detail__column:last-child {
        width: 70%; } }
    @media (max-width: 600px) {
      .event__detail__column {
        padding: 16px;
        margin: 0;
        min-height: 0px; }
        .event__detail__column:first-child {
          width: 100%; }
        .event__detail__column:last-child {
          width: 100%; } }
  .event__detail .post__thumbnail {
    position: relative;
    min-height: 320px;
    height: 25%;
    margin-bottom: 16px; }
    @media (max-width: 900px) {
      .event__detail .post__thumbnail {
        height: 0;
        min-height: 150px; } }
  .event__detail .post__content__date {
    top: 16px;
    right: -16px;
    padding: 8px;
    font-size: 32px;
    font-weight: 300; }
  .event__detail__title {
    margin-bottom: 24px; }
    @media (max-width: 900px) {
      .event__detail__title {
        font-size: 28px;
        margin-left: 0; } }
    @media (max-width: 900px) {
      .event__detail__title {
        font-size: 28px;
        margin-left: 0; } }
  .event__detail__when, .event__detail__where {
    margin-left: 64px;
    margin-bottom: 8px; }
    .event__detail__when span, .event__detail__where span {
      font-weight: 600;
      margin-right: 8px; }
    @media (max-width: 900px) {
      .event__detail__when, .event__detail__where {
        margin-left: 0px; } }
  .event__detail .content {
    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 88px 64px 0 64px;
    line-height: 24px; }
    @media (max-width: 900px) {
      .event__detail .content {
        padding: 16px; } }
    .event__detail .content p {
      margin-bottom: 8px; }
    .event__detail .content figure {
      margin-left: 8px;
      margin-top: 8px; }
    .event__detail .content figcaption {
      font-size: 14px;
      font-style: italic; }
  .event__detail .close {
    position: absolute;
    top: 4px;
    right: 32px;
    transform: rotate(45deg);
    font-size: 88px;
    font-weight: 300;
    color: #999; }

.post-list {
  width: 100%; }
  .post-list__title {
    font-size: 28px;
    font-weight: 500;
    padding-left: 24px;
    text-transform: uppercase; }
    .post-list__title--associated {
      margin-top: 48px; }
  .post-list__members {
    padding-top: 24px; }
    .post-list__members__effective {
      width: 100%; }
    .post-list__members__associated {
      width: 100%; }
  .post-list__member {
    flex: 1 0 250px;
    margin: 16px;
    max-width: 268px; }
    .post-list__member--project, .post-list__member--publication {
      width: 100%;
      margin: 16px; }
    .post-list__member__thumbnail {
      margin: 0 auto;
      position: relative;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid #45639F;
      background-size: cover;
      background-position: 20% 50%;
      background-repeat: no-repeat; }
    .post-list__member__content {
      padding: 8px 0;
      font-size: 16px;
      text-align: center; }
      .post-list__member__content__position {
        margin-bottom: 8px; }
      .post-list__member__content__name {
        font-weight: 600;
        font-size: 20px;
        max-width: 190px;
        margin-left: 0; }
        .post-list__member__content__name p {
          margin-bottom: 8px; }

.posts-list--members h2 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 16px; }

.member__detail__close {
  position: absolute;
  top: 50px;
  right: 32px;
  color: #999; }
  .member__detail__close svg {
    width: 40px;
    height: 40px; }

.member__detail__wrapper {
  height: 100%; }

.member__detail__column {
  width: 50%;
  min-width: 300px;
  min-height: 320px;
  margin: 0 auto;
  padding: 80px 16px 0 16px; }
  @media (max-width: 900px) {
    .member__detail__column {
      width: 100%; } }
  @media (max-width: 600px) {
    .member__detail__column {
      width: 100%; } }
  .member__detail__column--person {
    text-align: center; }
  .member__detail__column--info {
    padding-top: 150px;
    line-height: 21px; }
  .member__detail__column--details {
    padding-top: 100px; }
  .member__detail__column__email span, .member__detail__column__orcid span {
    font-weight: 500;
    margin-right: 8px;
    letter-spacing: 1px; }
  .member__detail__column__email {
    margin-top: 16px; }
  .member__detail__column__orcid {
    margin-top: 8px; }

.member__detail__thumbnail {
  margin: 0 auto;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #45639F; }

.member__detail__position {
  margin-top: 16px;
  font-size: 24px; }

.member__detail__name {
  margin-top: 16px;
  font-size: 30px;
  font-weight: 600; }

.member__detail__article {
  width: 100%;
  position: relative;
  margin-top: 24px;
  border-bottom: 2px solid #BFBEBE;
  padding-bottom: 8px; }
  .member__detail__article:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 13px;
    width: 2px;
    background: #BFBEBE; }
  .member__detail__article__see-more {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 14px; }
    .member__detail__article__see-more svg {
      margin-right: 4px; }
  .member__detail__article__type {
    text-transform: capitalize; }
  .member__detail__article__title {
    margin: 8px 0 16px 0;
    font-size: 18px; }
  .member__detail__article__text p {
    line-height: 20px;
    margin-bottom: 8px; }

.publications-container {
  margin-top: 64px; }

.publications-filter {
  width: 50%;
  padding-right: 32px; }
  .publications-filter-list {
    width: 160px;
    padding: 4px;
    border: 1px solid #aaa; }
  .publications-filter .tab,
  .publications-filter .dropdown,
  .publications-filter .search {
    width: 100%;
    margin-left: auto;
    margin-top: 4px;
    padding: 4px;
    text-align: right; }
  .publications-filter .tab {
    margin-left: 0;
    text-align: left; }
  .publications-filter .dropdown {
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none; }
  .publications-filter .search {
    padding: 8px;
    background-color: #3F51B5;
    color: #FFF;
    text-decoration: underline; }
    .publications-filter .search:hover {
      cursor: pointer; }

.publication-list {
  padding: 64px 8px; }
  .publication-list .home__section__publication {
    width: 100%;
    flex-grow: 2; }
  .publication-list .home__section__publication__content {
    position: relative; }

.publication__item {
  position: relative;
  height: 100%; }
  .publication__item__column {
    position: relative;
    width: 50%;
    height: 100%;
    flex-grow: 2; }
    @media (max-width: 900px) {
      .publication__item__column p {
        padding-right: 64px; } }
    .publication__item__column--right {
      padding-left: 64px; }
  .publication__item__thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 320px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }

.invisible {
  display: none; }

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: opacity 0.2s, visibility 0.2s !important; }

.active {
  display: block; }

/*# sourceMappingURL=main.css.map */