<div class="tab">Pesquisar por Autor</div>
{{!-- <div class="tab">por Ano</div> --}}
<select name="authors-list" id="authors-list" class="dropdown">
	<option value="all" selected="selected">todos</option>
</select>
<div id="search" class="search">Pesquisar</div>