<div class="post-list__header__title"></div>
<div id="publications-filter" class="publications-filter">
	
</div>
<div id="publications-container" class="publications-container"></div>

{{!-- {{#ifCond this.length '<' this.totalPosts}} --}}
<div id="load-more-posts" class="load-more">MAIS</div>
{{!-- {{/ifCond}} --}}
