<section class="home__section" id="home-news">{{{view "components/spinner"}}}</section>

<section class="home__section" id="home-events">{{{view "components/spinner"}}}</section>

<section class="home__section" id="home-publications">{{{view "components/spinner"}}}</section>
